.menu {
  height: 100%;
  width: 110px;
  border-right: 1px solid lightgray;
  overflow-y: auto;
  background-color: blue;
}

.menuItem {
  color: white;
  font-size: 14px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
}

.menuItem:hover {
  color: #4282ad;
}
